<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-socket" version="1.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IonicSocket</name>
    <js-module name="IonicSocket" src="www/IonicSocket.js">
        <clobbers target="IonicSocket" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="IonicSocket">
                <param name="android-package" value="com.thinking.plugins.IonicSocket" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/IonicSocket.java" target-dir="src/com/thinking/plugins" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="IonicSocket">
                <param name="ios-package" value="IonicSocket" />
            </feature>
        </config-file>
        <header-file src="src/ios/IonicSocket.h" />
        <source-file src="src/ios/IonicSocket.m" />
    </platform>
</plugin>